{% extends 'base_admin.html' %}

{% block main %}
<div class="panel panel-default">
    <div class="panel-heading">
        {{ _('Deleted Comments') }}
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-default table-bordered display" cellspacing="0" id="blacklist">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>{{ _('Content') }}</th>
                        <th>{{ _('Username') }}</th>
                        <th>{{ _('Topic') }}</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <p></p>
        <a class="btn btn-danger" id="bulk-add">{{ _('Active Selected Comment Again') }}</a>
    </div>
</div>
{% endblock %}

{% block footer_ext %}
<script>
$(document).ready(
    function() {
        $('#blacklist').DataTable({
            language: {
                url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Chinese.json"
            },
            bProcessing: true,
            bServerSide: true,
            bPaginate: true,
            sAjaxSource: "{{ url_for('brother.comment_table_list', deleted=True) }}",
            sDom: "<'row'<'col-sm-4'l><'col-sm-8 text-right'f>r>" + "t" + "<'row'<'col-sm-6'i><'col-sm-6 text-right'p><'col-sm-0 text-right'T>>",
            oTableTools: {"sRowSelect": "multi",
                            "aButtons": []},
        });
    });


$(document).ready(function() {
    var table = $('#blacklist').DataTable();

    $('#blacklist tbody').on( 'click', 'tr', function () {
        $(this).toggleClass('selected');
    } );
} );

function selected_id(){
    selected_rows = $('tr.selected');
    ids = []
    selected_rows.each(
            function(){
                ids.push($(this).context.cells[0].childNodes[0].data);
            }
        )
    return ids.toString()
}

$(document).ready(
        function(){
            $('#bulk-add').click(
                function(){
                    $.get('{{ url_for("brother.comment_bulk_process", process="active", next=request.url) }}', {'ids': selected_id()});
                    location.reload();
                }
                );
        }
        );
</script>
{% endblock %}
