{% extends 'base_admin.html' %}

{% block main %}
<div class="panel panel-default">
    <div class="panel-heading" >
        <a href="{{ url_for('brother.node_manage', classify='normal') }}">{{ _('Node Management') }}</a>
        <span> / {{ node.title }}</span>
    </div>
    <div class="panel-body">
    	{% if message %}
		<div class="messages">
			<p class="text-danger">
				{{ message }}
			</p>
		</div>
		{% endif %}

        <form class="form" action="{{ url_for('brother.node_more', nid=node.id) }}" method="post">
            <div class="form-group">
                <label>{{ _('Title') }}</label>
                <input value="{{node.title}}" type="text" class="form-control" id="title" name="title" />
            </div>
            <div class="form-group">
                <label>{{ _('Description') }}</label>
                <textarea class="form-control" id="description" name="description">{{node.description}}</textarea>
            </div>

            <div class="form-submit text-right">
                <button class="btn btn-info" type="submit" id="submit">
                    {{ _('Submit') }}(Ctrl+Enter)
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
