{% extends 'base_with_sidebar.html' %}
{% block left %}
{% include 'user/panel.html' %}
{% endblock %}
{% block right %}

<div class="panel panel-default">
    <div class="topic-heading panel-heading">
		<div class="row">
			<a href="{{ url_for('user.info', uid = topic.user_id) }}" class="col-md-1 pull-right"><img title="{{ current_user.username}}" class="avatar-large pull-right" src="{{topic.user().avatar_url }}"></a>
			<div class="col-md-10">
				<p class="topic-breadcrumb">
                        <a href="{{ url_for('voice.index') }}">{{ _("logoname") }}</a>  ›   <a href="{{ url_for('voice.node_view', nid = topic.node_id) }}">{{ topic.node().title }}</a>
                </p>
				<h3 class="list-post-title-in-topic"><a href="{{ url_for('voice.view', tid=topic.id)}}" style="color:inherit">{{ topic.title }}</a></h3>
				<p class="list-meta">
					<span class="label label-default list-meta-node"><a href="{{ url_for('voice.node_view', nid=topic.node_id) }}">{{ topic.node().title }}</a></span>
					<span class="list-count">{{ topic.click }}</span>
					<span class="list-time">{{ topic.time_created | natural_time }}</span>
					<span class="list-username"><a href="{{ url_for('user.info', uid=topic.user_id) }}">{{topic.user().username}}</a></span>
					{% if current_user.id == topic.user_id %}
					<a class="label-success label" href="{{ url_for('voice.appendix', tid = topic.id) }}">{{ _('topic appendix') }}</a>
                    <a class="label-warning label" href="{{ url_for('voice.edit', tid=topic.id) }}">{{ _('edit') }}</a>
					{% endif %}
				</p>
			</div>
		</div>
	</div>
    <div class="panel-body">
    	{% if message %}
		<div class="messages">
			<p class="text-danger">
				{{ message }}
			</p>
		</div>
		{% endif %}
        {% if current_user.is_authenticated %}
        <form class="form" action="{{ url_for('voice.edit', tid=topic.id) }}" method="post">
            <div class="form-group">
                <label class="sr-only" for="content">{{ _('content') }}</label>
                <textarea placeholder="{{ _('content') }}"  class="form-control" id="content" name="content">{{topic.content}}</textarea>
            </div>
            <div class="form-submit text-right">
                <a class="btn btn-default" id="pre-btn">
                    {{ _('preview') }}
                </a>
                <button class="btn btn-info" type="submit" id="submit">
                    {{ _('submit') }}(Ctrl+Enter)
                </button>
            </div>
        </form>

        <div class="previewer">
        </div>
        {% endif %}
    </div>
	{% if topic.appends %}
	<ul class="list-group">
		{% for a in topic.extract_appends() %}
		<div class="list-group-item list-appendix-item">
			<p class="appendix-meta">
                {{ loop.index }} {{ _('appendix') }} {{ a.time_created | natural_time}}
			</p>
			{{a.content_rendered | safe}}
		</div>
		{% endfor %}
	</ul>
	{% endif %}
</div>

{% endblock %}
{% block footer_ext %}
<script src="{{ url_for('static', filename='js/previewer.js') }}"></script>}
{% endblock %}
