{% extends 'base_with_sidebar.html' %}
{% block left %}
{% include 'user/panel.html' %}
{% endblock %}

{% block right %}
<div class="row">
    {% if nodes %}
    {% for node in nodes %}
    <div class="col-md-3">
      <a class="thumbnail" href="{{ url_for ('voice.node_view', nid = node.id) }}">
          <span class="badge pull-right"> {{ node.extract_topics() | rejectattr('deleted') | list | length }} </span>
      <div class="caption">
        <p class="text-center"><strong>{{ node.title }}</strong></p>
        <p>{{ node.description }}</p>
      </div>
      </a>
    </div>
    {% endfor %}

    {% else %}
		<div class="alert alert-danger">
			{{ _("Sorry, but we can't find any nodes yet.") }}
		</div>
    {% endif %}
</div>
{% endblock %}
