{% extends 'base_with_sidebar.html' %}
{% block left %}
{% include 'user/panel.html' %}
{% endblock %}

{% block right %}
  {% if nodes %}
  {% for i in range(0, nodes|length, 4) %}
    <div class="row">
      {% for n in nodes[i: i+4] %}
      <div class="col-md-3">
      <a class="thumbnail" href="{{ url_for ('voice.node_view', nid = n.id) }}">
          <span class="badge pull-right"> {{ n.extract_topics() | rejectattr('deleted') | list | length }} </span>
      <div class="caption">
        <p class="text-center"><strong>{{ n.title }}</strong></p>
        <p>{{ n.description }}</p>
      </div>
      </a>
      </div>
      {% endfor %}
    </div>
  {% endfor %}

  {% else %}
		<div class="alert alert-danger">
			{{ _("Sorry, but we can't find any nodes yet.") }}
		</div>
  {% endif %}

{% endblock %}
