a {
	text-decoration: none !important;
}

p{
	word-wrap: break-word;
}

.list-post-title, .list-meta {
	margin: 0px;
}

.list-post-title {
	font-size: 120%;
	padding-top: 5px;
}

.avatar-middle {
	width: 48px;
	height: 48px;
}

.avatar-large {
	width: 80px;
	height: 80px;
}

.list-reply-count {
	margin-top: 15px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*.label {*/
/*border: 1px solid #000;*/
/*}*/

.label a {
	color: #F5F5F5;
}

.label-node {
	display: inline-block;
	line-height: 1.6;
	background: #999;
	margin-bottom: 10px;
}

h3.list-post-title a {
	text-decoration: none;
	color: #333;
}

.list-topic-item:hover {
	background-color: #f5f5f5;
}

.list-count::before, .list-time::before, .list-username::before, .list-reply-count-xs::before {
	content: '\2022';
	margin-right: 5px;
}

.list-username a {
	color: #666;
}

.list-meta {
	color: #aaa;
}

footer {
	padding-top: 20px;
}

#wrap {
	/**background-image: url("/static/image/bg.png");**/
	background-color: #E0E0E0;
	padding-top: 70px;
}

ul.pager {
	margin: 0px;
}

.padtop {
	margin-top: 5px;
}

.list-time {
	color: #aaa
}

/* Sticky footer styles
 -------------------------------------------------- */

html, body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto;
	/* Negative indent footer by its height */
	margin-bottom: -50px;
	/* Pad bottom by footer height */
	padding-bottom: 50px;
}

/* Set the fixed height of the footer here */
footer {
	height: 50px;
	background-color: #FEFEFE;
}

#content {
	height: 120px;
}

.pagination {
	margin: 0px;
}

.appendix-meta {
	font-size: 12px;
	line-height: 120%;
	text-align: left;
	color: #ccc;
}

.list-appendix-item {
	background: #FFFFF9;
	border-left: 3px solid #FFFBC1 !important;
}

.panel-body {
	padding: 15px;
}

.panel-body:before, .panel-body:after {
	display: table;
	content: " ";
}

.panel-body:after {
	clear: both;
}

.panel-body:before, .panel-body:after {
	display: table;
	content: " ";
}

.panel-body:after {
	clear: both;
}

.list-meta-node {
	background-color: #F5F5F5;
}

.list-meta-node a {
	color: #AAA;
}

.list-reply-count {
	background-color: #C0C0C0;
}

.topic-heading {
	background-color: #FFF !important;
}

.list-post-title-in-topic {
	font-size: 180%;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 0px;
}

@media (max-width: 768px) {
	.list-reply-count-xs {
		display: inline-block !important;
	}
	.list-username {
		display: none;
	}
}

.topic-breadcrumb, .topic-breadcrumb a {
	margin: 0px;
	color: #AAAAAA;
}

body {
	font-family: "WenQuanYi Micro Hei", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html, html a {
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

.title-breadcrumb a {
	color: #428bca;
}

.title-breadcrumb span:before {
	content: "/\00a0";
	padding: 0 5px;
	color: #ccc;
}

a.add-new-btn {
	line-height: 12px;
	color: #FFF;
}

p > img {
    max-width:100%;
    /* This centers the image */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.panel-body p{
	font-size: 16px;
    font-family: Monaco, Courier, sans-serif, Arial, "Microsoft YaHei";
    line-height: 1.5;
}

blockquote
{
    font-family: Monaco, Courier, sans-serif, Arial, "Microsoft YaHei";
    font-size:0.9em;
    background-color: #eee;
    margin:1em 0;
    border-left: 5px solid #009a61;
    color:rgb(33, 36, 33);
}

.pagination-page-info {
    padding:.6em;
    padding-left:0;
    width:40em;
    margin:.5em;
    margin-left:0;
    font-size:12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left:2px;
    padding:.1em .25em;
    font-size:150%;
}

/* make twitter bootstrap menu dropdown on hover rather than click
 * Refer to:
 * http://stackoverflow.com/questions/8878033/how-to-make-twitter-bootstrap-menu-dropdown-on-hover-rather-than-click
 */
@media (min-width: 979px) {
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }
}

.watermark
{
    position:absolute;
    left: 50%;
    top: 20px;
    z-index: 99999;
    opacity:0.9;
    color:red;
}

.blocked
{
    opacity: 0.5;
    background-color: rgba(243, 205, 205, 0.5);
}

.fa-3x{
    font-size: 3em;
}
