{% extends 'base_with_sidebar.html' %}
{% block left %}
{% include 'user/panel.html' %}
{% endblock %}
{% block right %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ _('change password') }}</h3>
    </div>
    <form class="form-horizontal panel-body" method="post" action="">
        {% if message_success %}
        <div class="messages"> <p class="text-danger"> {{ message_success }} </p> </div>
        {% endif %}
        <div class="form-group ">
            <label class="col-sm-2 control-label" for="old-password">{{ _('current password') }}</label>
            <div class="col-sm-10">
                <input class="form-control" id="old-password" name="old-password" type="password" value="{{ form.old-password}}">
            </div>
            {% if message_cur %}
            <div class="messages"> <p class="text-danger"> {{ message_cur }} </p> </div>
            {% endif %}
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label" for="password">{{ _('new password') }}</label>
            <div class="col-sm-10">
                <input class="form-control" id="password" name="password" type="password" value="{{ form.password }}">
            </div>
        </div>

        <div class="form-group ">
            <label class="col-sm-2 control-label" for="password2">{{ _('new password again') }}</label>
            <div class="col-sm-10">
                <input class="form-control" id="password2" name="password2" type="password" value="{{ form.password2 }}">
            </div>
            {% if message_new %}
            <div class="messages"> <p class="text-danger"> {{ message_new }} </p> </div>
            {% endif %}
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
            <hr />
                <button class="btn btn-success">
                    {{ _('update') }}
                </button>
                <a class="btn btn-link" href="{% url 'user_setting' %}">{{ _('user settings') }}</a>
                <a class="btn btn-link" href="{% url 'user_avatar' %}">{{ _('avatar settings') }}</a></a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
