{% extends 'base.html' %}
{% block title %}
{{ _('reset password confirm') }}
{% endblock %}

{% block inside_row %}

<div class="panel panel-default col-md-6 col-md-offset-3">
    <form class="form-horizontal panel-body password-reset" method="post">
        <h2 class="text-center" style="margin-bottom:1em"> {{ _('Enter new password') }} </h2>

        <div class="form-group ">
            <label for="password">{{ _('new password') }}</label>
            <input class="form-control" id="password" name="password" type="password">
        </div>

         <div class="form-group ">
            <label for="password">{{ _('repeat password') }}</label>
            <input class="form-control" id="password2" name="password2" type="password" >
             {% if message_p %} <div class="messages"> <p class="text-danger"> {{ message_p }} </p> </div> {% endif %}
        </div>

        <div class="form-group">
            <button class="btn btn-default btn-success pull-right">
                {{ _('Confirm') }}
            </button>
        </div>
    </form>
</div>
{% endblock %}
